## Step 1: Import the dataset, explore and ready the data for analysis ##

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
import datetime as dt

import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from matplotlib import dates as mpl_dates

#### Import Data Frame

In [136]:
#use df as basis to start all exploration --> laptop
data = pd.read_csv(r"C:\Users\Le\Documents\Flatiron\Phase-3-Project\dsc-phase-3-project\Terry_Stop_Original.csv")
data

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Le\\Documents\\Flatiron\\Phase-3-Project\\dsc-phase-3-project\\Terry_Stop_Original.csv'

In [3]:
#use df as basis to start all exploration = desktop
df = pd.read_csv(r"C:\Users\letru\Documents\Flatiron\Phase-3-Project\dsc-phase-3-project\Terry_Stop_Original.csv")
df

,Subject Age Group,Subject ID,GO / SC Num,Terry Stop ID,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,Officer Race,...,Reported Time,Initial Call Type,Final Call Type,Call Type,Officer Squad,Arrest Flag,Frisk Flag,Precinct,Sector,Beat
0,-,-1,2.014000e+13,92317,Arrest,None,7500,1984,M,Black or African American,...,11:32:00,-,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2
1,-,-1,2.015000e+13,28806,Field Contact,None,5670,1965,M,White,...,7:59:00,-,-,-,NaN,N,N,-,-,-
2,-,-1,2.015000e+13,29599,Field Contact,None,4844,1961,M,White,...,19:12:00,-,-,-,NaN,N,-,-,-,-
3,-,-1,2.015000e+13,32260,Field Contact,None,7539,1963,M,White,...,4:55:00,-,-,-,NaN,N,N,-,-,-
4,-,-1,2.015000e+13,33155,Field Contact,None,6973,1977,M,White,...,0:41:00,-,-,-,NaN,N,N,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48744,56 and Above,25974371966,2.019000e+13,10395961962,Offense Report,-,8616,1986,M,White,...,3:46:04,BURG - COMM BURGLARY (INCLUDES SCHOOLS),#NAME?,ALARM CALL (NOT POLICE ALARM),WEST PCT 3RD W - KING,N,N,-,-,-
48745,56 and Above,25974371966,2.019000e+13,11693922467,Offense Report,-,7769,1969,M,White,...,5:26:09,PURSE SNATCH - ROBBERY,#NAME?,ONVIEW,WEST PCT 1ST W - KING/QUEEN,N,N,West,K,K3
48746,56 and Above,25974371966,2.020000e+13,12898432903,Field Contact,-,8647,1993,F,White,...,2:19:32,SUSPICIOUS STOP - OFFICER INITIATED ONVIEW,#NAME?,ONVIEW,WEST PCT 3RD W - D/M RELIEF,N,N,West,K,K3
48747,56 and Above,25974371966,2.020000e+13,19241002526,Field Contact,-,6799,1976,M,Hispanic or Latino,...,12:34:11,SHOPLIFT - THEFT,#NAME?,911,WEST PCT 2ND W - SPECIAL BEATS,N,N,West,K,K1
48748,56 and Above,26523685710,2.021000e+13,26525039065,Field Contact,-,8348,1988,M,White,...,22:56:55,SHOTS - IP/JO - INCLUDES HEARD/NO ASSAULT,#NAME?,911,CRG - SQUAD 81B,N,N,West,Q,Q3

#### Exploring dataframe columns and figuring out what I need.

In [4]:
df.shape

(48749, 23)

In [5]:
df.columns

Index(['Subject Age Group', 'Subject ID', 'GO / SC Num', 'Terry Stop ID',
       'Stop Resolution', 'Weapon Type', 'Officer ID', 'Officer YOB',
       'Officer Gender', 'Officer Race', 'Subject Perceived Race',
       'Subject Perceived Gender', 'Reported Date', 'Reported Time',
       'Initial Call Type', 'Final Call Type', 'Call Type', 'Officer Squad',
       'Arrest Flag', 'Frisk Flag', 'Precinct', 'Sector', 'Beat'],
      dtype='object')

In [6]:
#selecting columns that I'm going to be using
df = df[['Subject Age Group', 'Stop Resolution',
         'Weapon Type', 'Officer YOB', 
         'Officer Gender', 'Officer Race', 'Subject Perceived Race', 
         'Subject Perceived Gender', 'Reported Date', 'Initial Call Type','Call Type', 'Arrest Flag', 'Frisk Flag', ]]

In [7]:
#removing spaces and capital letters to easier pull up columns later.
df.columns = ['subject_age', 'stop_resolution',
         'weapon_type', 'officer_age', 
         'officer_gender', 'officer_race', 'subject_race', 
         'subject_gender', 'date', 'initial_call_type', 'call_type', 'arrest', 'frisk']

## See information about each column.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48749 entries, 0 to 48748
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   subject_age        48749 non-null  object
 1   stop_resolution    48749 non-null  object
 2   weapon_type        48749 non-null  object
 3   officer_age        48749 non-null  int64
 4   officer_gender     48749 non-null  object
 5   officer_race       48749 non-null  object
 6   subject_race       48749 non-null  object
 7   subject_gender     48749 non-null  object
 8   date               48749 non-null  object
 9   initial_call_type  48749 non-null  object
 10  call_type          48749 non-null  object
 11  arrest             48749 non-null  object
 12  frisk              48749 non-null  object
dtypes: int64(1), object(12)
memory usage: 4.8+ MB

In [9]:
# change the data type for the category & datetime columns
df = df.astype({'subject_age': 'category', 'officer_gender':'category', 
                'officer_race': 'category', 'subject_race':'category', 
                'subject_gender':'category', 'date':'datetime64','arrest':'category', 
                'frisk':'category'})

In [10]:
#replace '-' with NaN values
df.replace('-', np.nan, inplace = True)

## Looking at each column individually.

#### Subject Age

In [11]:
df.subject_age.value_counts(dropna = False)

26 - 35         16238
36 - 45         10407
18 - 25          9717
46 - 55          6303
56 and Above     2482
17-Jan           1994
NaN              1608
Name: subject_age, dtype: int64

In [12]:
#replace 17-Jan with 1 - 17
df.replace('17-Jan', 'Under 17', inplace = True)

In [13]:
df.subject_age.value_counts(dropna = False)

26 - 35         16238
36 - 45         10407
18 - 25          9717
46 - 55          6303
56 and Above     2482
Under 17         1994
NaN              1608
Name: subject_age, dtype: int64

In [14]:
#drop NA because not significant
df = df.drop(df[pd.isna(df.subject_age)].index)

#### Officer Age

In [16]:
#input age of officer 
df['officer_age'] = (df.date.dt.year - df.officer_age)

In [17]:
#look at the range of officer age
df.officer_age.describe()

count    47141.000000
mean        34.528478
std          8.645160
min         21.000000
25%         28.000000
50%         32.000000
75%         39.000000
max        119.000000
Name: officer_age, dtype: float64

In [18]:
#find all officers greater than age of 70
df[df.officer_age >70]

,subject_age,stop_resolution,weapon_type,officer_age,officer_gender,officer_race,subject_race,subject_gender,date,initial_call_type,call_type,arrest,frisk
3644,18 - 25,Field Contact,None,115,N,Unknown,Black or African American,Male,2015-05-19,NaN,NaN,N,N
7269,18 - 25,Field Contact,None,117,N,Unknown,Unknown,Female,2017-06-06,NaN,NaN,N,N
9302,18 - 25,Arrest,None,118,N,Unknown,White,Male,2018-02-07,NaN,NaN,N,N
11342,18 - 25,Field Contact,NaN,119,M,Unknown,NaN,Male,2019-05-30,NaN,NaN,N,N
11919,18 - 25,Field Contact,NaN,119,N,Unknown,White,Female,2019-11-27,NaN,NaN,N,N
12562,18 - 25,Offense Report,NaN,119,N,Unknown,American Indian or Alaska Native,Female,2019-10-29,NaN,NaN,N,N
20808,26 - 35,Field Contact,None,118,M,Unknown,White,Female,2018-05-21,NaN,NaN,N,N
25264,26 - 35,Arrest,NaN,119,N,Unknown,White,Female,2019-08-15,NaN,NaN,Y,N
25595,26 - 35,Arrest,NaN,119,N,Unknown,White,Male,2019-10-23,NaN,NaN,Y,N
27140,26 - 35,Field Contact,NaN,119,M,Unknown,NaN,Male,2019-05-20,NaN,NaN,N,N
27633,26 - 35,Field Contact,NaN,119,M,Unknown,White,Male,2019-05-20,NaN,NaN,N,N
28360,26 - 35,Field Contact,NaN,119,N,Unknown,White,Male,2019-11-02,NaN,NaN,N,N
28383,26 - 35,Field Contact,NaN,119,N,Unknown,White,Male,2019-11-10,NaN,NaN,N,N
30905,36 - 45,Field Contact,None,116,N,Unknown,White,Female,2016-01-02,NaN,NaN,N,N
31360,36 - 45,Field Contact,None,116,N,Unknown,White,Male,2016-09-14,NaN,NaN,N,N
34825,56 and Above,Field Contact,NaN,119,N,Unknown,NaN,Male,2019-09-22,NaN,NaN,N,N
36941,36 - 45,Field Contact,NaN,119,N,Unknown,NaN,Female,2019-10-28,NaN,NaN,N,N
37223,36 - 45,Field Contact,NaN,119,N,Unknown,White,Female,2019-11-22,NaN,NaN,N,N
37266,36 - 45,Arrest,NaN,119,N,Unknown,Black or African American,Male,2019-06-06,NaN,NaN,Y,Y
37295,36 - 45,Field Contact,NaN,119,N,Unknown,NaN,Female,2019-07-09,NaN,NaN,N,N
37310,36 - 45,Offense Report,Knife/Cutting/Stabbing Instrument,119,M,Unknown,White,Male,2019-05-14,NaN,NaN,N,Y
37387,36 - 45,Field Contact,NaN,119,N,Unknown,White,Male,2019-07-21,NaN,NaN,N,N
38770,36 - 45,Field Contact,NaN,119,N,Unknown,White,Male,2019-11-22,NaN,NaN,N,N
39172,36 - 45,Field Contact,NaN,119,N,Unknown,NaN,Female,2019-09-30,NaN,NaN,N,N
39237,36 - 45,Field Contact,NaN,119,N,Unknown,White,Male,2019-11-10,NaN,NaN,N,N
39890,36 - 45,Field Contact,NaN,119,N,Unknown,NaN,Male,2019-10-24,NaN,NaN,N,N
44694,46 - 55,Field Contact,NaN,119,N,Unknown,Black or African American,Male,2019-07-13,NaN,NaN,N,N
44896,46 - 55,Offense Report,NaN,119,N,Unknown,American Indian or Alaska Native,Female,2019-10-23,NaN,NaN,N,N
45480,46 - 55,Field Contact,NaN,119,N,Unknown,White,Male,2019-09-22,NaN,NaN,N,N
46039,46 - 55,Field Contact,NaN,119,N,Unknown,White,Male,2019-09-29,NaN,NaN,N,N
47608,56 and Above,Offense Report,None,118,M,Unknown,Hispanic,Male,2018-07-10,UNKNOWN - ANI/ALI - WRLS PHNS (INCL OPEN LINE),"TELEPHONE OTHER, NOT 911",N,Y

In [152]:
#drop ages greater than 70
df = df.drop(df[df.officer_age >70].index)

In [153]:
df.officer_age.describe()

count    47110.000000
mean        34.473212
std          8.375105
min         21.000000
25%         28.000000
50%         32.000000
75%         39.000000
max         70.000000
Name: officer_age, dtype: float64

#### Officer Gender

In [154]:
df.officer_gender.unique()

['M', 'F']
Categories (2, object): ['M', 'F']

#### Officer Race

In [155]:
df.officer_race.value_counts(ascending = False, dropna = False)

White                            35415
Two or More Races                 2738
Hispanic or Latino                2716
Asian                             2043
Black or African American         1819
Not Specified                     1626
Nat Hawaiian/Oth Pac Islander      440
American Indian/Alaska Native      313
Unknown                              0
Name: officer_race, dtype: int64

In [156]:
#combine the 'unkown' with 'Not Specified' to remove unnecessary category
df.replace({'officer_race' : {'Unknown':'Not Specified'}}, inplace = True)

#### Subject Race

In [157]:
df.subject_race.value_counts(ascending = False, dropna = False)

White                                        23357
Black or African American                    14143
Unknown                                       2532
Hispanic                                      1658
Asian                                         1567
NaN                                           1464
American Indian or Alaska Native              1368
Multi-Racial                                   801
Other                                          150
Native Hawaiian or Other Pacific Islander       70
Name: subject_race, dtype: int64

In [158]:
#changing the name so it fits in visualizations better.
df.replace({'subject_race': {'Native Hawaiian or Other Pacific Islander': 'Nat Hawaiian/Oth Pac Islander'}}, inplace = True)

In [159]:
df.subject_race.value_counts(ascending = False, dropna = False)

White                               23357
Black or African American           14143
Unknown                              2532
Hispanic                             1658
Asian                                1567
NaN                                  1464
American Indian or Alaska Native     1368
Multi-Racial                          801
Other                                 150
Nat Hawaiian/Oth Pac Islander          70
Name: subject_race, dtype: int64

In [160]:
#drop the NaN values
df = df.drop(df[pd.isna(df.subject_race)].index)

#### Subject Gender

In [161]:
df.subject_gender.value_counts(ascending = False, dropna = False)

Male                                                         36244
Female                                                        9260
Unable to Determine                                            105
Unknown                                                         19
NaN                                                             11
Gender Diverse (gender non-conforming and/or transgender)        7
Name: subject_gender, dtype: int64

In [162]:
#combined "unknown" with "Unable to Determine", drop NaN. Not statistically significant.
df.replace({'subject_gender': {'Unable to Determine':'Unknown'}}, inplace = True)
df.replace({'subject_gender': {'Gender Diverse (gender non-conforming and/or transgender)':'Gender Diverse'}}, inplace = True)
df = df.drop(df[pd.isna(df.subject_gender)].index)

In [163]:
df.subject_gender.value_counts(ascending = False, dropna = False)

Male              36244
Female             9260
Unknown             124
Gender Diverse        7
Name: subject_gender, dtype: int64

In [164]:
#drop 'unknown' and 'gender diverse' as it's not statistically significant
df = df.drop(df[(df.subject_gender) == 'Unknown'].index)
df = df.drop(df[(df.subject_gender) == 'Gender Diverse'].index)
df.subject_gender.value_counts(ascending = False, dropna = False)

Male      36244
Female     9260
Name: subject_gender, dtype: int64

#### Date

In [165]:
df.date.describe()

<ipython-input-165-f7d3fa946723>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.date.describe()

count                   45504
unique                   2365
top       2015-10-01 00:00:00
freq                       87
first     2015-03-15 00:00:00
last      2021-09-04 00:00:00
Name: date, dtype: object

#### Call Type

In [166]:
df.initial_call_type.value_counts(dropna = False)

NaN                                               12579
SUSPICIOUS STOP - OFFICER INITIATED ONVIEW         2961
SUSPICIOUS PERSON, VEHICLE OR INCIDENT             2881
DISTURBANCE, MISCELLANEOUS/OTHER                   2363
ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS)     1985
                                                  ...
ALARM - ATM MACHINE, FREE STANDING                    1
SICK PERSON                                           1
PHONE - OBSCENE OR NUISANCE PHONE CALLS               1
INJURED -  PERSON/INDUSTRIAL ACCIDENT                 1
HARBOR - WATER EMERGENCIES                            1
Name: initial_call_type, Length: 166, dtype: int64

In [167]:
df.initial_call_type.nunique()

165

In [168]:
df.call_type.value_counts(dropna = False)

911                              20823
NaN                              12579
ONVIEW                            8566
TELEPHONE OTHER, NOT 911          3195
ALARM CALL (NOT POLICE ALARM)      330
TEXT MESSAGE                        10
SCHEDULED EVENT (RECURRING)          1
Name: call_type, dtype: int64

In [169]:
#dropping these as they are not significant
df = df.drop(df[(df.call_type) == 'TEXT MESSAGE'].index)
df = df.drop(df[(df.call_type) == 'SCHEDULED EVENT (RECURRING)'].index)
df = df.drop(df[(df.call_type) == 'ALARM CALL (NOT POLICE ALARM)'].index)
df.replace({'subject_gender': {'Gender Diverse (gender non-conforming and/or transgender)':'Gender Diverse'}}, inplace = True)

In [170]:
df.call_type.unique()

array([nan, '911', 'TELEPHONE OTHER, NOT 911', 'ONVIEW'], dtype=object)

#### Frisk

In [171]:
df.frisk.unique()

['Y', NaN, 'N']
Categories (2, object): ['Y', 'N']

In [172]:
df.frisk.value_counts(dropna = False)

N      34548
Y      10226
NaN      389
Name: frisk, dtype: int64

In [173]:
df = df.drop(df[pd.isna(df.frisk)].index)

#### Arrest

In [174]:
df.arrest.unique()

['N', 'Y']
Categories (2, object): ['N', 'Y']

In [175]:
df.arrest.value_counts(dropna = False)

N    41065
Y     3709
Name: arrest, dtype: int64

#### Stop Resolution - Result of the stop

In [176]:
df.stop_resolution.unique()

array(['Arrest', 'Field Contact', 'Offense Report',
       'Citation / Infraction', 'Referred for Prosecution'], dtype=object)

In [177]:
df.stop_resolution.value_counts(dropna = False)
df = df.drop(df[(df.stop_resolution) == 'Referred for Prosecution'].index)
df = df.drop(df[(df.stop_resolution) == 'Citation / Infraction'].index)

In [178]:
df.stop_resolution.unique()

array(['Arrest', 'Field Contact', 'Offense Report'], dtype=object)

#### Weapon Type

In [179]:
df.weapon_type.unique()

array(['None', 'Firearm Other', 'Lethal Cutting Instrument', 'Handgun',
       'Firearm (unk type)', nan, 'Knife/Cutting/Stabbing Instrument',
       'Mace/Pepper Spray', 'Other Firearm', 'None/Not Applicable',
       'Club', 'Club, Blackjack, Brass Knuckles', 'Rifle',
       'Blunt Object/Striking Implement', 'Firearm',
       'Fire/Incendiary Device', 'Taser/Stun Gun', 'Shotgun',
       'Automatic Handgun', 'Blackjack',
       'Personal Weapons (hands, feet, etc.)'], dtype=object)

In [180]:
df.weapon_type.value_counts(dropna=False)

None                                    30076
NaN                                     11171
Lethal Cutting Instrument                1381
Knife/Cutting/Stabbing Instrument         644
Handgun                                   277
Firearm Other                              88
Blunt Object/Striking Implement            84
Club, Blackjack, Brass Knuckles            46
Firearm                                    42
Mace/Pepper Spray                          28
Other Firearm                              21
Firearm (unk type)                         13
Taser/Stun Gun                             10
None/Not Applicable                         9
Club                                        8
Fire/Incendiary Device                      7
Rifle                                       7
Shotgun                                     3
Personal Weapons (hands, feet, etc.)        2
Blackjack                                   1
Automatic Handgun                           1
Name: weapon_type, dtype: int64

#### Create the dictionary that will be used for replacing string categories with values

In [181]:
clean_flags = {'frisk' : {'Y' : 1, 'N' : 0}, 
              'arrest' : {'Y' : 1, 'N' : 0}}

### Look at final shape.

In [182]:
df.shape

(43919, 13)

### Save cleaned data to CSV.

In [183]:
df.to_csv('data/cleaned_data')