## Step 1: Import the dataset, explore and ready the data for analysis ##

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
import datetime as dt

import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from matplotlib import dates as mpl_dates

In [4]:
#use df as basis to start all exploration --> laptop
data = pd.read_csv(r"C:\Users\Le\Documents\Flatiron\Phase-3-Project\dsc-phase-3-project\Terry_Stop_Original.csv")
data

,Subject Age Group,Subject ID,GO / SC Num,Terry Stop ID,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,Officer Race,...,Reported Time,Initial Call Type,Final Call Type,Call Type,Officer Squad,Arrest Flag,Frisk Flag,Precinct,Sector,Beat
0,-,-1,2.014000e+13,92317,Arrest,None,7500,1984,M,Black or African American,...,11:32:00,-,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2
1,-,-1,2.015000e+13,28806,Field Contact,None,5670,1965,M,White,...,7:59:00,-,-,-,NaN,N,N,-,-,-
2,-,-1,2.015000e+13,29599,Field Contact,None,4844,1961,M,White,...,19:12:00,-,-,-,NaN,N,-,-,-,-
3,-,-1,2.015000e+13,32260,Field Contact,None,7539,1963,M,White,...,4:55:00,-,-,-,NaN,N,N,-,-,-
4,-,-1,2.015000e+13,33155,Field Contact,None,6973,1977,M,White,...,0:41:00,-,-,-,NaN,N,N,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48744,56 and Above,25974371966,2.019000e+13,10395961962,Offense Report,-,8616,1986,M,White,...,3:46:04,BURG - COMM BURGLARY (INCLUDES SCHOOLS),#NAME?,ALARM CALL (NOT POLICE ALARM),WEST PCT 3RD W - KING,N,N,-,-,-
48745,56 and Above,25974371966,2.019000e+13,11693922467,Offense Report,-,7769,1969,M,White,...,5:26:09,PURSE SNATCH - ROBBERY,#NAME?,ONVIEW,WEST PCT 1ST W - KING/QUEEN,N,N,West,K,K3
48746,56 and Above,25974371966,2.020000e+13,12898432903,Field Contact,-,8647,1993,F,White,...,2:19:32,SUSPICIOUS STOP - OFFICER INITIATED ONVIEW,#NAME?,ONVIEW,WEST PCT 3RD W - D/M RELIEF,N,N,West,K,K3
48747,56 and Above,25974371966,2.020000e+13,19241002526,Field Contact,-,6799,1976,M,Hispanic or Latino,...,12:34:11,SHOPLIFT - THEFT,#NAME?,911,WEST PCT 2ND W - SPECIAL BEATS,N,N,West,K,K1
48748,56 and Above,26523685710,2.021000e+13,26525039065,Field Contact,-,8348,1988,M,White,...,22:56:55,SHOTS - IP/JO - INCLUDES HEARD/NO ASSAULT,#NAME?,911,CRG - SQUAD 81B,N,N,West,Q,Q3

In [5]:
#use df as basis to start all exploration = desktop
data = pd.read_csv(r"C:\Users\letru\Documents\Flatiron\Phase-3-Project\dsc-phase-3-project\Terry_Stop_Original.csv")
data

,Subject Age Group,Subject ID,GO / SC Num,Terry Stop ID,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,Officer Race,...,Reported Time,Initial Call Type,Final Call Type,Call Type,Officer Squad,Arrest Flag,Frisk Flag,Precinct,Sector,Beat
0,-,-1,2.014000e+13,92317,Arrest,None,7500,1984,M,Black or African American,...,11:32:00,-,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2
1,-,-1,2.015000e+13,28806,Field Contact,None,5670,1965,M,White,...,7:59:00,-,-,-,NaN,N,N,-,-,-
2,-,-1,2.015000e+13,29599,Field Contact,None,4844,1961,M,White,...,19:12:00,-,-,-,NaN,N,-,-,-,-
3,-,-1,2.015000e+13,32260,Field Contact,None,7539,1963,M,White,...,4:55:00,-,-,-,NaN,N,N,-,-,-
4,-,-1,2.015000e+13,33155,Field Contact,None,6973,1977,M,White,...,0:41:00,-,-,-,NaN,N,N,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48744,56 and Above,25974371966,2.019000e+13,10395961962,Offense Report,-,8616,1986,M,White,...,3:46:04,BURG - COMM BURGLARY (INCLUDES SCHOOLS),#NAME?,ALARM CALL (NOT POLICE ALARM),WEST PCT 3RD W - KING,N,N,-,-,-
48745,56 and Above,25974371966,2.019000e+13,11693922467,Offense Report,-,7769,1969,M,White,...,5:26:09,PURSE SNATCH - ROBBERY,#NAME?,ONVIEW,WEST PCT 1ST W - KING/QUEEN,N,N,West,K,K3
48746,56 and Above,25974371966,2.020000e+13,12898432903,Field Contact,-,8647,1993,F,White,...,2:19:32,SUSPICIOUS STOP - OFFICER INITIATED ONVIEW,#NAME?,ONVIEW,WEST PCT 3RD W - D/M RELIEF,N,N,West,K,K3
48747,56 and Above,25974371966,2.020000e+13,19241002526,Field Contact,-,6799,1976,M,Hispanic or Latino,...,12:34:11,SHOPLIFT - THEFT,#NAME?,911,WEST PCT 2ND W - SPECIAL BEATS,N,N,West,K,K1
48748,56 and Above,26523685710,2.021000e+13,26525039065,Field Contact,-,8348,1988,M,White,...,22:56:55,SHOTS - IP/JO - INCLUDES HEARD/NO ASSAULT,#NAME?,911,CRG - SQUAD 81B,N,N,West,Q,Q3

In [5]:
data.shape

(48749, 23)

In [6]:
data.columns

Index(['Subject Age Group', 'Subject ID', 'GO / SC Num', 'Terry Stop ID',
       'Stop Resolution', 'Weapon Type', 'Officer ID', 'Officer YOB',
       'Officer Gender', 'Officer Race', 'Subject Perceived Race',
       'Subject Perceived Gender', 'Reported Date', 'Reported Time',
       'Initial Call Type', 'Final Call Type', 'Call Type', 'Officer Squad',
       'Arrest Flag', 'Frisk Flag', 'Precinct', 'Sector', 'Beat'],
      dtype='object')

In [7]:
#selecting columns that I'm going to be using
df = data[['Subject Age Group', 'Subject ID', 'Stop Resolution',
         'Weapon Type', 'Officer ID', 'Officer YOB', 
         'Officer Gender', 'Officer Race', 'Subject Perceived Race', 
         'Subject Perceived Gender', 'Reported Date', 'Initial Call Type','Call Type',
         'Officer Squad', 'Arrest Flag', 'Frisk Flag',
         'Precinct', 'Sector', 'Beat' ]]

In [8]:
#removing spaces and capital letters
df.columns = ['subject_age', 'subject_id', 'stop_resolution',
         'weapon_type', 'officer_id', 'officer_age', 
         'officer_gender', 'officer_race', 'subject_race', 
         'subject_gender', 'date', 'initial_call_type', 'call_type',
         'officer_squad', 'arrest', 'frisk',
         'precinct', 'sector', 'beat' ]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48749 entries, 0 to 48748
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   subject_age        48749 non-null  object
 1   subject_id         48749 non-null  int64
 2   stop_resolution    48749 non-null  object
 3   weapon_type        48749 non-null  object
 4   officer_id         48749 non-null  object
 5   officer_age        48749 non-null  int64
 6   officer_gender     48749 non-null  object
 7   officer_race       48749 non-null  object
 8   subject_race       48749 non-null  object
 9   subject_gender     48749 non-null  object
 10  date               48749 non-null  object
 11  initial_call_type  48749 non-null  object
 12  call_type          48749 non-null  object
 13  officer_squad      48143 non-null  object
 14  arrest             48749 non-null  object
 15  frisk              48749 non-null  object
 16  precinct           48749 non-null  object
 17  sector             48749 non-null  object
 18  beat               48749 non-null  object
dtypes: int64(2), object(17)
memory usage: 7.1+ MB

In [10]:
# change the data type for the category & datetime columns
df = df.astype({'subject_age': 'category', 'officer_gender':'category', 
                'officer_race': 'category', 'subject_race':'category', 
                'subject_gender':'category', 'date':'datetime64','arrest':'category', 
                'frisk':'category','precinct':'category', 'sector':'category',
                'beat': 'category'})

In [11]:
#replace '-' with NaN values
df.replace('-', np.nan, inplace = True)

In [12]:
df.subject_age.value_counts(dropna = False)

26 - 35         16238
36 - 45         10407
18 - 25          9717
46 - 55          6303
56 and Above     2482
17-Jan           1994
NaN              1608
Name: subject_age, dtype: int64

In [13]:
#replace 17-Jan with 1 - 17
df.replace('17-Jan', 'Under 17', inplace = True)

In [14]:
df.subject_age.value_counts(dropna = False)

26 - 35         16238
36 - 45         10407
18 - 25          9717
46 - 55          6303
56 and Above     2482
Under 17         1994
NaN              1608
Name: subject_age, dtype: int64

In [15]:
#input age of officer 
df['officer_age'] = (df.date.dt.year - df.officer_age)

In [16]:
df.officer_age.describe()

count    48749.000000
mean        34.599028
std          8.704376
min         21.000000
25%         28.000000
50%         33.000000
75%         39.000000
max        119.000000
Name: officer_age, dtype: float64

In [17]:
#find all officers greater than age of 70
df[df.officer_age >70]

,subject_age,subject_id,stop_resolution,weapon_type,officer_id,officer_age,officer_gender,officer_race,subject_race,subject_gender,date,initial_call_type,call_type,officer_squad,arrest,frisk,precinct,sector,beat
1049,NaN,-1,Field Contact,NaN,NaN,119,N,Unknown,NaN,NaN,2019-07-27,NaN,NaN,NaN,N,Y,West,K,K3
1050,NaN,-1,Field Contact,NaN,NaN,119,N,Unknown,NaN,NaN,2019-07-27,NaN,NaN,NaN,N,Y,West,K,K3
1051,NaN,-1,Field Contact,NaN,NaN,119,N,Unknown,NaN,NaN,2019-07-27,NaN,NaN,NaN,N,Y,West,K,K3
1070,NaN,-1,Field Contact,NaN,NaN,119,N,Unknown,White,Male,2019-09-10,NaN,NaN,NaN,N,N,East,E,E3
3644,18 - 25,-1,Field Contact,None,-9,115,N,Unknown,Black or African American,Male,2015-05-19,NaN,NaN,NaN,N,N,NaN,NaN,NaN
7269,18 - 25,-1,Field Contact,None,-9,117,N,Unknown,Unknown,Female,2017-06-06,NaN,NaN,NaN,N,N,NaN,NaN,NaN
9302,18 - 25,-1,Arrest,None,-9,118,N,Unknown,White,Male,2018-02-07,NaN,NaN,NaN,N,N,West,Q,Q1
11342,18 - 25,7728397343,Field Contact,NaN,IV70,119,M,Unknown,NaN,Male,2019-05-30,NaN,NaN,NaN,N,N,East,E,E1
11919,18 - 25,7752842576,Field Contact,NaN,NaN,119,N,Unknown,White,Female,2019-11-27,NaN,NaN,NaN,N,N,West,M,M3
12562,18 - 25,11599869972,Offense Report,NaN,NaN,119,N,Unknown,American Indian or Alaska Native,Female,2019-10-29,NaN,NaN,NaN,N,N,West,M,M3
20808,26 - 35,-1,Field Contact,None,8579,118,M,Unknown,White,Female,2018-05-21,NaN,NaN,TRAINING - FIELD TRAINING SQUAD,N,N,NaN,NaN,NaN
25264,26 - 35,7726843174,Arrest,NaN,NaN,119,N,Unknown,White,Female,2019-08-15,NaN,NaN,NaN,Y,N,North,B,B1
25595,26 - 35,7727655114,Arrest,NaN,NaN,119,N,Unknown,White,Male,2019-10-23,NaN,NaN,NaN,Y,N,West,Q,Q2
27140,26 - 35,7751540466,Field Contact,NaN,IV70,119,M,Unknown,NaN,Male,2019-05-20,NaN,NaN,NaN,N,N,West,K,K3
27633,26 - 35,8231317753,Field Contact,NaN,IV70,119,M,Unknown,White,Male,2019-05-20,NaN,NaN,NaN,N,N,NaN,NaN,NaN
28360,26 - 35,11671271509,Field Contact,NaN,NaN,119,N,Unknown,White,Male,2019-11-02,NaN,NaN,NaN,N,N,West,D,D3
28383,26 - 35,11714790587,Field Contact,NaN,NaN,119,N,Unknown,White,Male,2019-11-10,NaN,NaN,NaN,N,N,West,D,D1
30905,36 - 45,-1,Field Contact,None,-9,116,N,Unknown,White,Female,2016-01-02,NaN,NaN,NaN,N,N,North,N,N3
31360,36 - 45,-1,Field Contact,None,-9,116,N,Unknown,White,Male,2016-09-14,NaN,NaN,NaN,N,N,NaN,NaN,NaN
34825,56 and Above,7806910703,Field Contact,NaN,NaN,119,N,Unknown,NaN,Male,2019-09-22,NaN,NaN,NaN,N,N,East,E,E3
36941,36 - 45,7726435162,Field Contact,NaN,NaN,119,N,Unknown,NaN,Female,2019-10-28,NaN,NaN,NaN,N,N,West,M,M3
37223,36 - 45,7727213954,Field Contact,NaN,NaN,119,N,Unknown,White,Female,2019-11-22,NaN,NaN,NaN,N,N,West,M,M3
37266,36 - 45,7727433409,Arrest,NaN,NaN,119,N,Unknown,Black or African American,Male,2019-06-06,NaN,NaN,NaN,Y,Y,South,S,S1
37295,36 - 45,7727562666,Field Contact,NaN,NaN,119,N,Unknown,NaN,Female,2019-07-09,NaN,NaN,NaN,N,N,West,Q,Q2
37310,36 - 45,7727600619,Offense Report,Knife/Cutting/Stabbing Instrument,IV70,119,M,Unknown,White,Male,2019-05-14,NaN,NaN,NaN,N,Y,NaN,NaN,NaN
37387,36 - 45,7727949880,Field Contact,NaN,NaN,119,N,Unknown,White,Male,2019-07-21,NaN,NaN,NaN,N,N,West,Q,Q1
38770,36 - 45,8216706891,Field Contact,NaN,NaN,119,N,Unknown,White,Male,2019-11-22,NaN,NaN,NaN,N,N,West,M,M3
39172,36 - 45,10525452160,Field Contact,NaN,NaN,119,N,Unknown,NaN,Female,2019-09-30,NaN,NaN,NaN,N,N,West,K,K2
39237,36 - 45,11714640847,Field Contact,NaN,NaN,119,N,Unknown,White,Male,2019-11-10,NaN,NaN,NaN,N,N,West,D,D1
39890,36 - 45,21645585066,Field Contact,NaN,NaN,119,N,Unknown,NaN,Male,2019-10-24,NaN,NaN,NaN,N,N,West,D,D1
44694,46 - 55,7726878627,Field Contact,NaN,NaN,119,N,Unknown,Black or African American,Male,2019-07-13,NaN,NaN,NaN,N,N,West,M,M1
44896,46 - 55,7727827317,Offense Report,NaN,NaN,119,N,Unknown,American Indian or Alaska Native,Female,2019-10-23,NaN,NaN,NaN,N,N,West,Q,Q2
45480,46 - 55,7743686531,Field Contact,NaN,NaN,119,N,Unknown,White,Male,2019-09-22,NaN,NaN,NaN,N,N,East,E,E3
46039,46 - 55,12162542666,Field Contact,NaN,NaN,119,N,Unknown,White,Male,2019-09-29,NaN,NaN,NaN,N,N,West,M,M3
47608,56 and Above,-1,Offense Report,None,8579,118,M,Unknown,Hispanic,Male,2018-07-10,UNKNOWN - ANI/ALI - WRLS PHNS (INCL OPEN LINE),"TELEPHONE OTHER, NOT 911",TRAINING - FIELD TRAINING SQUAD,N,Y,North,B,B2

In [18]:
#drop ages greater than 70
df = df.drop(df[df.officer_age >70].index)

In [19]:
df.officer_age.describe()

count    48714.000000
mean        34.538695
std          8.411296
min         21.000000
25%         28.000000
50%         33.000000
75%         39.000000
max         70.000000
Name: officer_age, dtype: float64

In [20]:
df.officer_gender.unique()

['M', 'F']
Categories (2, object): ['M', 'F']

In [21]:
df.officer_race.value_counts(ascending = False, dropna = False)

White                            36506
Hispanic or Latino                2841
Two or More Races                 2810
Asian                             2144
Black or African American         1950
Not Specified                     1681
Nat Hawaiian/Oth Pac Islander      461
American Indian/Alaska Native      321
Unknown                              0
Name: officer_race, dtype: int64

In [22]:
#combine the 'unkown' with 'Not Specified' to remove unnecessary category
df.replace({'officer_race' : {'Unknown':'Not Specified'}}, inplace = True)

In [23]:
df.subject_race.value_counts(ascending = False, dropna = False)

White                                        23790
Black or African American                    14549
Unknown                                       2820
NaN                                           1841
Hispanic                                      1683
Asian                                         1602
American Indian or Alaska Native              1395
Multi-Racial                                   809
Other                                          152
Native Hawaiian or Other Pacific Islander       73
Name: subject_race, dtype: int64

In [24]:
#drop the NaN values
df = df.drop(df[pd.isnull(df.subject_race)].index)

In [25]:
df.date.describe()

<ipython-input-25-f7d3fa946723>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.date.describe()

count                   46873
unique                   2365
top       2015-10-01 00:00:00
freq                       91
first     2015-03-15 00:00:00
last      2021-09-04 00:00:00
Name: date, dtype: object

In [26]:
df.call_type.unique()

array([nan, '911', 'ONVIEW', 'TELEPHONE OTHER, NOT 911',
       'ALARM CALL (NOT POLICE ALARM)', 'TEXT MESSAGE',
       'SCHEDULED EVENT (RECURRING)'], dtype=object)

In [27]:
df.initial_call_type.value_counts(dropna = False)

NaN                                               12968
SUSPICIOUS STOP - OFFICER INITIATED ONVIEW         3026
SUSPICIOUS PERSON, VEHICLE OR INCIDENT             2953
DISTURBANCE, MISCELLANEOUS/OTHER                   2442
ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS)     2046
                                                  ...
ASSIST SPD - URGENT SERVICE                           1
MISSING - (ALZHEIMER, ENDANGERED, ELDERLY)            1
MISSING - ADULT                                       1
ESCAPE - PRISONER                                     1
PHONE - OBSCENE OR NUISANCE PHONE CALLS               1
Name: initial_call_type, Length: 167, dtype: int64

In [28]:
df.initial_call_type.nunique()

166

In [29]:
df.call_type.value_counts(dropna = False)

911                              21425
NaN                              12968
ONVIEW                            8812
TELEPHONE OTHER, NOT 911          3313
ALARM CALL (NOT POLICE ALARM)      344
TEXT MESSAGE                        10
SCHEDULED EVENT (RECURRING)          1
Name: call_type, dtype: int64

In [30]:
df.frisk.unique()

['N', NaN, 'Y']
Categories (2, object): ['N', 'Y']

In [31]:
df.frisk.value_counts(dropna = False)

N      35851
Y      10606
NaN      416
Name: frisk, dtype: int64

In [34]:
df = df.drop(df[pd.isnull(df.frisk)].index)
df.frisk.value_counts(dropna = False)

N    35851
Y    10606
Name: frisk, dtype: int64

In [35]:
df.arrest.unique()

['N', 'Y']
Categories (2, object): ['N', 'Y']

In [36]:
df.arrest.value_counts(dropna = False)

N    42661
Y     3796
Name: arrest, dtype: int64

In [37]:
#create the dictionary that will be used for replacing string categories with values
clean_flags = {'frisk' : {'Y' : 1, 'N' : 0}, 
              'arrest' : {'Y' : 1, 'N' : 0}}

#replace str categories with 1s and 0s
df.replace(clean_flags, inplace = True)

In [40]:
df.shape

(46457, 19)

In [41]:
#change the layout of the columns and save the cleaned file to csv.
df = df[['date','officer_id','officer_age', 'officer_race', 'officer_gender','officer_squad',
               'subject_id','subject_age','subject_race','subject_gender',
              'stop_resolution','weapon_type','initial_call_type','call_type','arrest', 'frisk',
              'precinct', 'sector', 'beat' ]]

In [42]:
df.to_csv('data/cleaned_data', index = False)